<div *ngIf="columnDefinitions">
  <div class="flex-container">

    <div class="flex-item">
      <div class="top-area-container">
        <div class="top-area-item">
          <mat-form-field appearance="fill">

            <mat-label>{{ 'shared.tables.components.mat-table.enterSearchText' | translate }}
            </mat-label>
            <input matInput [ngModel]="searchText" (ngModelChange)="searchTextChanged($event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="top-area-item top-area-item-right">
          <mat-paginator #paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
          </mat-paginator>
        </div>
      </div>
    </div>

    <div class="flex-item">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">
          <ng-container *ngIf="isSelectionAllowed">
            <ng-container matColumnDef="Select">
              <th mat-header-cell *matHeaderCellDef class="selected-row"
                [class.header-multi-selection]="canToggleAllSelections" (click)="toggleAllSelections()">
                {{ 'shared.tables.components.mat-table.selected' | translate }}</th>
              <td mat-cell class="selected-row" *matCellDef="let row">
                <mat-checkbox (click)="toggleRowSelection(row)" [checked]="isRowSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          </ng-container>

          <ng-container *ngFor="let colDef of columnDefinitions.definitions" [matColumnDef]="colDef.columnKey">
            <th mat-header-cell [ngClass]="colDef.className" *matHeaderCellDef mat-sort-header>
              {{ colDef.headerTranslationKey | translate }}</th>
            <ng-container *ngIf="colDef.propertyKey">
              <td mat-cell [ngClass]="colDef.className" *matCellDef="let row">{{ row[colDef.propertyKey] }}</td>
            </ng-container>
            <ng-container *ngIf="colDef.template">
              <td mat-cell [ngClass]="colDef.className" [attr.data-row-id]="row[idSelector]" *matCellDef="let row">
                <ng-container #colDefTemplate [ngTemplateOutlet]="colDef.template"
                  [ngTemplateOutletContext]="{row: row}">
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="allColumnHeaders"></tr>
          <tr class="row-item" mat-row *matRowDef="let row; columns: allColumnHeaders;"
            (click)="toggleRowSelection(row)">
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>