.overview-container {
  display: flex;
  flex-direction: column;
}

.calendar {
  flex-flow: 1;
}

.actions {
  flex-basis: Auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
