.config-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.config-container-item {
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
}

.config-entries-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.config-entries-container-item {
  margin-left: 10px;
}

.query-select {
  min-width: 250px;
}