@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$disabled: rgba(0, 0, 0, .26);

mat-card {
    margin: 10px;
}